@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: "Roboto";
}

footer{
    background-color: #FEA926;
    width: 100%;
    display: block;
}

.footer-content{
    background-color: #FEA926;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    margin: 0;
}

footer .desc{
    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 100px;
}

.join-newsletter{
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 100px;
    
}

.join-newsletter input{
    width: 447px;
    height: 40px;
    background-color: white;
    border-color: white;
    border-radius: 8px;
    color: black;
    border-style: solid;
    padding: 0;
    font-size: 12pt;
    padding-bottom: 1px;
    padding-left: 10px;
    outline: none
}

.join-newsletter button{
    height: 45px;
    width: 197px;
    border: 0;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


.join-newsletter button:hover{
    cursor: pointer;
}

.contact{
    background-color: #B53953;
    height: 150px;
    margin-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.contact a{
    color: white;
    text-decoration: none;
}

.contact .social-media{
    color: white;
}

.social-media .icon{
    display: flex;
}

.social-media h2{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.icon a{
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.contact .form-contact{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.form-contact h2, h5{
    margin: 0;
    color: white;
    padding-bottom: 15px;
}

.form-contact input, button{
    margin-top: 10px;
    border-radius: 8px;
}

.form-contact input{
    width: 420px;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-color: white;
    outline: none;
    padding: 8px;
}

.form-contact #message{
    background-color: white;
    border-width: 2px;
    border-color: white;
    outline: none;
    padding: 8px;
    height: 100px;
}


.footer-content ::placeholder{
    color: black;
}

.contact ::placeholder{
    color: black;
    opacity: 1;
}

.form-contact button{
    background-color: white;
    color: black;
    border-style: none;
    height: 25px;
}

.bottom{
    background-color: #B53953;
}

.bottom hr{
    margin-left: 100px;
    margin-right: 100px;
}

.end{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    color: white;
}

.end p{
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 7px;
}

hr{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    background-color: #B53953;
    border-style: solid;
    border-width: 1px;
    color: white;
}

@media screen and (max-width: 768px) {
    .footer-content .desc {
        padding-left: 5%;
        padding-top: 0;
        margin: 0;
    }

    .join-newsletter{
        padding-right: 5%;
    }

    .join-newsletter input{
        width: 300px;
        height: 20px;
        padding: 5px;
    }

    .join-newsletter button{
        width: 150px;
        height: 35px;
    }

    .contact{
        padding: 5%;
        padding-bottom: 15px;
        height: 300px;
    }

    .form-contact input{
        height: 15px;
        width: 240px;
    }

    .form-contact #message{
        height: 70px
    }

    .bottom hr{
        margin-left: 5%;
        margin-right: 5%;
    }

    .end{
        margin-left: 5%;
    }
}

@media screen and (max-width: 576px) {
    .footer-content{
        display: block;
        width: fit-content;
        padding: 0;
        padding-bottom: 5%;
    }

    .footer-content .desc {
        padding-left: 5%;
        padding-top: 5%;
        margin: 0;
    }

    .join-newsletter{
        padding-top: 5px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .join-newsletter input{
        width: 400px;
        height: 20px;
        padding: 5px;
    }

    .join-newsletter button{
        width: 150px;
        height: 35px;
    }

    .contact{
        display: block;
        width: auto;
        margin: auto;
        align-items: center;
        padding-bottom: 5%;
    }

    .social-media h2{
        margin: 0;
        padding-top: 20px;
    }

    .icon a{
        margin: 0;
        padding-top: 5px;
        padding-right: 10px;
    }

    .form-contact{
        padding-top: 20px;
    }

    .form-contact h2, h5{
        margin: 0;
    }

    .form-contact input{
        height: 15px;
        width: 96%;
    }

    .form-contact #message{
        height: 50px;
    }

    .form-contact button{
        width: 100%;
    }

    .bottom hr{
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10%;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        width: 90%;
    } 

    .end{
        margin-left: 5%;
    }
}