html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}
@media screen and (max-width: 768px){
  body{
    width: 100%;
  }
}
@media screen and (max-width: 576px){
  body{
    width: 100%;
  }
}
.page-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(7, 143, 203, .8);
}
.page-title p{
  padding-bottom: 20px;
}
main {
	margin: auto;
  padding: 25px;
  max-width: 100%;
}
h3 {
	font-size: 25px;
	color: black;
	margin: 30px 0 30px 0;
}

h4 {
    margin: 11px 0 7px 0;
    color: rgb(209, 209, 8);
    font-size: 20px;
	  text-align: center;
    text-decoration: none;
}

.images {
    border-radius: 20px;
    max-width: 100%;
    height: 250px;
}
.content-title{
    margin-top: 30px;
    margin-bottom: 8px;
    margin-left: 30px;
    height: 42px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #E74645;
}
.row {
	margin: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row1{
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row,
.row > .column {
	padding: 25px;
}
.row1,
.row1 > .column1 {
	padding: 25px;
}
#wrapper-class{
  width: 100%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  justify-content: left;
}
#row-class{
  width: 100%;
}
.column {
	float: left;
	width: 450px;
}

.row1:after {
	content: "";
	display: table;
	clear: both;
}

.content {
	  cursor: pointer;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-decoration: none;
    width: 350px;
}
.container{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-left: 35px;
}
.button1{
  background: rgb(13, 234, 13);
}
.button2{
  background: rgb(182, 15, 149);
}
.add-button{
  padding: 10px;
  font-size: 15px;
  width: 100%;
  background: #02AAB0;
}
.delete-button{
  padding: 5px;
  background: #E74645;
}
@media (max-width: 768px) {
  .page-title{
    width: 100%;
  }
  #navbar{
    font-size: 12px;
  }
	.column {
		width: 50%;
	}
  .container{
    width: 42%;
  }
  #wrapper-class{
    width: 50%;
  }
  .images{
    height: 150px;
  }
  h4{
    font-size: 15px;
  }
  .button1{
    font-size: 10px;
  }
  .button2{
    font-size: 10px;
  }
  .add-button{
    font-size: 10px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .column {
		width: 100%;
	}
	#wrapper-class{
    width: 100%;
  }
  .container{
    width: 80%;
  }
}

