@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@400;500&family=Lobster&family=Mogra&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
html{
  scroll-behavior: smooth;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}

<<<<<<< HEAD
/* Laptop */
@media (max-width: 1366px) {
html {
  font-size: 75%;
}
}
/* Tablet */
@media (max-width: 768px) {
html {
  font-size: 62.5%;
}
}
/* Handphone */
@media (max-width: 576px) {
html {
  font-size: 55%;
}
}


/*Banner*/

.top{
background-image: url(https://cdn.wallpapersafari.com/63/25/lLIYKM.jpg);
color: rgba(123, 67, 155, 0.63);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-size: 40px;
height: 500px;
}

/* Tablet */
@media (max-width: 768px) {
.top {
  height: fit-content;
}
}
/* Handphone */
@media (max-width: 576px) {
.top {
  height: fit-content;
}
}

.top details {
margin-top: 0px;
}

.welbes{
  font-family: 'mogra';
  text-shadow: #ffffff;
  margin-left: 30px;
  display: flex;
}
.toptext{
  padding-top: 40px;
}
.mono{
  width: 400px;
  margin-left: 40px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.topBtn{
background-color: #bd8dcc;
padding: 16px;
color: rgb(255, 255, 255);
border-color: white;
border-style: solid;
border-radius: 18px;
font-size: 15px;
margin-left: 40px;
margin-top: 20px;
margin-bottom: 24px;
width: 150px;
text-align: center;
}

.topBtn:hover{
cursor: pointer;
}


/* About EduTen*/

.info{
  background-color: rgb(255, 184, 92);
  max-height: fit-content;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  text-shadow: #5c5757;
  margin-top: 0px;
}

.info img {
  width: 280px;
  height: 200px; 
}

.tittleinfo{
  font-family: 'mogra';
  margin-bottom: 15px
}

.infotext{
  padding-left: 40px;
  width: fit-content;
}

/* Tablet */
@media (max-width: 768px) {
.adesc {
  width: 80.5%;
}
.info img {
  width: 66.50%;
  height:  66.50%;
}
}
/* Handphone */
@media (max-width: 576px) {

.info img {
  width: 50%;
  height: 50%;
}
}


.adesc {
margin-bottom: 20px;
}

.info aside a:hover{
background-color: #62cafe;
=======
/*Banner*/

.top{
    /* background-image: url(../img/top.webp); */
    background-image: url(https://cdn.wallpapersafari.com/63/25/lLIYKM.jpg);
    color: rgba(123, 67, 155, 0.63);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* text-shadow: #0e0a0a; */
    height: 500px;
    font-size: 40px;
}

.welbes{
    font-family: 'mogra';
    margin-bottom: 5px;
    text-shadow: #814fa394;
    margin-left: 40px;
}
.toptext{
    padding-top: 50px;
}
.mono{
    width: 500px;
    margin-left: 40px;
    font-size: 20px;
    font-weight:bold;
    text-shadow: #0e0a0a;
    color: rgb(117, 148, 214);
}

.topBtn{
    background-color: #bd8dcc;
    padding: 16px;
    color: rgb(255, 255, 255);
    border-color: white;
    border-style: solid;
    border-radius: 18px;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 24px;
    width: 150px;
    text-align: center;
}

.topBtn:hover{
  cursor: pointer;
}

/* About EduTen*/

.info{
    background-color: rgb(233, 196, 141);
    height: 340px;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    color: red;
    text-shadow: #5c5757;
    text-decoration: double;
}
.info img {
    width: 340px;
    height: 250px; 
}

.tittleinfo{
    font-family: 'mogra';
    margin-bottom: 15px
}

.infotext{
    padding-left: 40px;
    margin-right: 50px;
}

.infobottom{
    background-color: #37B6F6;
    padding: 16px;
    color: red;
    font-size: 10px;
    margin-top: 20px;
    width: 100px;
    text-align: center;
>>>>>>> 573492e6949393101889c54759640e6d849831e1
}

/*Popular Lesson*/

.class-container {
<<<<<<< HEAD
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.poptittle {
  display: flex;
  justify-content: center;
  font-family: 'Mogra';
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(91, 198, 255);
}

.class-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  height: fit-content;
}

.class-card {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  padding: 12px;
 /* background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
  text-align: center;
}

.class-card h2 {
  color: #c54343;
}

.class-row .class-card img {
  max-width: 100%;
  max-width: 100%;
  text-align: center;
}

.moreless {
      background-color: rgb(91, 198, 255);
      padding: 10px;
      color: rgb(255, 255, 255);
      font-size: 10px;
      margin-top: 20px;
      text-align: center;
      width: 150px;
      display: flex;
      justify-content: center;
      text-decoration: none;
}

.class-container a:hover {
background-color: #7bd0fa;
}

/*Our Team*/

.top-article {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
padding: 0 35px;
background-color: #dc14f2;
}

.top-article .ourteam h2 {
margin: 50px;
font-size: 40px;
font-family: 'Mogra';
color: white;
}

.wrapper {
max-width: 1100px;
width: 100%;
max-height: 600px;
position: relative;
}

.wrapper ion-icon {
height: 32px;
width: 32px;
background: #ffffff;
line-height: 50px;
border-radius: 50%;
cursor: pointer;
position: absolute;
font-size: 1.25rem;
top: 50%;
transform: translateY(-50%);
box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.wrapper ion-icon:first-child {
left: -22px;
}
.wrapper ion-icon:last-child {
right: -22px;
}

.wrapper .carousel {
display: grid;
grid-auto-flow: column;
grid-auto-columns: calc((100% / 3) - 12px);
gap: 16px;
overflow: hidden;
}

.carousel :where(.card, .imej) {
display: flex;
align-items: center;
justify-content: center;
}

.carousel.dragging .card {
cursor: grab;
user-select: none;
}

.carousel .card {
height: 250px;
list-style: none;
background: #ffffff;
border-radius: 8px;
display: flex;
cursor: pointer;
padding-bottom: 15px;
align-items: center;
justify-content: center;
flex-direction: column;
}

.card .imej {
background: #fe307b;
width: 150px;
height: 150px;
border-radius: 50%;
}

.card .imej img {
width: 140px;
height: 140px;
object-fit: cover;
border-radius: 50%;
border: 4px solid #ffffff;
}

.card h2 {
font-weight: 500;
font-size: 1.56rem;
margin: 8px 0 5px;
}

.card span {
color: #5c5757;
font-size: 1.31rem;
}

@media screen and (max-width: 768px) {
.wrapper .carousel {
  grid-auto-columns: calc((100% / 2) - 9px);
}
}
@media screen and (max-width: 576px) {
.wrapper .carousel {
  grid-auto-columns: 100%;
}
}

/* Overlay */

.overlay .content {
  background: #ff8b32;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 200px;
  text-align: center;
}

.overlay .the-overlay {
  padding: 10px;
}

.overlay .content h3 {
  font-size: 28px;
  color: white;
}
.overlay .content span {
  font-size: 12px;
  color: white;
}


/* What Parents Say */

.comments {
text-align: center;
height: 340px;
}

.comments h1 {
=======
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

.poptittle {
    font-family: 'Mogra';
    font-size: 24px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content;
    color: rgb(91, 198, 255);
}
  
  .class-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .class-card {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .class-card h2 {
    color: #c54343;
  }
  
  .class-card img {
    max-width: 100%;
    height: auto;
  }

  .moreless {
        background-color: rgb(91, 198, 255);
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 10px;
        margin-top: 20px;
        text-align: center;
        width: 150px;
        display: flex;
        justify-content: center;
}

/*Teachers*/

.top-article {
  width: 100%;
  height: 440px;
  background-color: rgb(216, 147, 243);
}

.top-article img {
  width: 150px;
  height: 100px;
}

.team-container {
  display: flex;
  flex-direction: row;
}

  .team-tittle {
    font-family: 'Mogra';
    font-size: 24px;
    padding: 40px;
    text-align: center;
    color: #ffffff;
  }

  .class-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .class-card {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto;
  }
  
  .class-card h2 {
    color: #c54343;
  }
  
  .class-card img {
    max-width: 100%;
    height: auto;
  }

  .class-card a{
    font-size: 10px;
    background-color: rgb(255, 196, 0);
    padding: 4px;
    color: brown;
  }

  .spesialist {
    color: #5c5b57;
  }
  .class-card p {
    font-size: 12px;
  }

  .cv {
    font-size: 12px;
  }

  
  /* Our School Gallery */

.gallery {
  text-align: center;
}
.desc {
  font-size: 10px;
  font-family: 'roboto';
  padding-bottom: 40px;

}
.gallery h1 {
>>>>>>> 573492e6949393101889c54759640e6d849831e1
  font-family: 'Mogra';
  font-size: 24px;
  padding: 32px;
  text-align: center;
  color: #37B6F6;
}

<<<<<<< HEAD
.comments .desc {
  font-size: 10px;
  font-family: 'roboto';
  padding-bottom: 40px;
}

.testimoni {
  display: flex;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.comm {
  margin-bottom: 15px;
}

.test {
  width: 200px;
  min-width: fit-content;
  text-align: start;
  padding: 8px;
  border-style: outset;
  border-radius: 10%;
  border-width: thin;
  border-color: #fe307b;
  margin-left: 28px;
  color: #5c5757;
  flex: 0 0 calc(40%-200px);

}
.test span {
  display: inline;
}

.name {
  font-family: 'Roboto';
  font-weight: bold;
  color: #de3c3caa;
  padding-right: 20px;
}

.parent {
  color: #00000072;
}


/* Our Partners Logo */

.partners {
background-color: #ffa8a8;
text-align: center;
width: 100%;
height: fit-content;
}

.partners h1 {
font-family: 'Mogra';
font-size: 24px;
padding: 32px;
text-align: center;
color: #ffffff;
}

.partners img {
flex: 0 0 calc(50%-150px);
width: 200px;
margin: 24px;
height: 200px;
padding: 12px;
}

=======
  .gallery div{
    padding: 28px;
  }

  .gallery span {
    padding: 20px;
    justify-content: space-evenly;
  }

  .show a {
    color: rgb(255, 93, 93);
  }
  .lesson a {
    color: rgb(76, 148, 203);
  }
  .event a {
    color: rgb(231, 145, 33);
  }
  .playing a {
    color: rgb(242, 84, 190);
  }
  .art a {
    color: rgb(91, 184, 15);
  }

  .gallery img {
    width: 200px;
    height: 200px;
    flex-basis: calc(33,3%-100px);
    padding: 12px;
  }

  .gallery table {
    display: flex;
    justify-content: center;
  }

  .viewgall {
    font-size: 10px;
    background-color: #37B6F6;
    font-family: 'roboto';
    padding: 10px;
    color: #ffffff;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 40px;
  }

  /* Overlay */

.overlay {
  background-color: #dc14f2;
  width: 100%;
  height: 300px;
  color: white;
  font-family: 'Helvetica';
  padding: 125px;
  font-weight: bold;
  }

  .overlay table {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .up {
    font-size: 50px;
  }

  .overlay td  {
    padding-left: 48px;
  }

  /* What Parents Say */

.comments {
  text-align: center;
  height: 340px;
}

  .comments h1 {
    font-family: 'Mogra';
    font-size: 24px;
    padding: 32px;
    text-align: center;
    color: #37B6F6;
  }

  .comments .desc {
    font-size: 10px;
    font-family: 'roboto';
    padding-bottom: 40px;
  }

  .testimoni {
    display: flex;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  .comm {
    margin-bottom: 15px;
  }

  .test {
    width: 200px;
    text-align: start;
    padding: 8px;
    border-style: outset;
    border-radius: 10%;
    border-width: thin;
    border-color: #fe307b;
    margin-left: 28px;
    color: #5c5757;

  }

  .test .name {
    font-family: 'Roboto';
    font-weight: bold;
    color: #de3c3caa;
    padding-right: 20px;
  }

  .parent {
    color: #00000072;
  }
  
  /* Our Partners Logo */

.partners {
  background-color: #ffa8a8;
  text-align: center;
  width: 100%;
  height: 300px;
}

.partners h1 {
  font-family: 'Mogra';
  font-size: 24px;
  padding: 32px;
  text-align: center;
  color: #ffffff;
}

.partners img {
  flex: 0 0 calc(32-100px);
  width: 80px;
  height: 80px;
  padding: 12px;
}

/* Don't Miss Our Events */

.events {
  width: 100%;
  height: 300px;
}

.event-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

.events .desc {
  text-align: center;
}

.events h1 {
  font-family: 'Mogra';
  font-size: 24px;
  padding: 32px;
  text-align: center;
  color: #37B6F6;
}

.event-top {
  display: flex;
  flex-direction: row;
  margin: 16px;
}

  .event-container img {
    width: 200px;
    height: 150px;
  }

  .event-top .twenty {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    text-align: end;
    color: #271e1e;
    position: absolute;
    left: 35%;
    background-color: rgb(255, 217, 0);
    width: 28px;
    text-align: center;
    color: #ffffff;
  }
  .classes-one {
    margin: 4px;
    width: 200px;
    height: 150px;
  }
  .classes-one h3 {
    margin-top: 0px;
    color: #fe307b;
    padding-bottom: 15px;
  }
  .classes-one a {
    color: #ffffff;
    background-color: rgb(255, 217, 0);
    text-align: center;
    width: 100px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .classes-one p {
    font-size: 12px;
  }
>>>>>>> 573492e6949393101889c54759640e6d849831e1
