* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.top-bar {
  width: 100%;
  height: 111px;
  padding: 0px 224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
}

.navigation li {
  margin: 12px;
  font-weight: bold;
  display: inline;
  list-style: none;
}

.right-content .navigation a {
  text-decoration: none;
}

.right-content .navigation li:nth-child(1) a {
  color: #e84b3a;
}

.right-content .navigation li:nth-child(2) a {
  color: #ffc000;
}

.right-content .navigation li:nth-child(3) a {
  color: #fc7f0c;
}

.right-content .navigation li:nth-child(4) a {
  color: #37b6f6;
}

.right-content .navigation li:nth-child(5) a {
  color: #88c87b;
}

.page-title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(80%);
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-cover h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  color: rgb(253, 250, 88);
  text-shadow: 2px 2px 4px rgba(161, 159, 159, 0.5);
}

.text-cover h3 {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  color: rgb(253, 250, 88);
  text-shadow: 1px 1px 1px rgba(119, 118, 118, 0.5);
}

.class-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.class-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.class-card {
  flex: 0 0 calc(30% - 20px);
  height: 300px;
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  top: 0;
  overflow: hidden;
}

.class-card .class-info{
  display: flex;
}

.class-card .age{
  color: rgb(53, 53, 53);
  background-color: rgb(75, 243, 97);
  border-style: none;
  width: fit-content;
  padding: 6px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.class-card .level{
  color: white;
  background-color: rgb(198, 113, 247);
  border-style: none;
  width: fit-content;
  padding: 6px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.class-card h3 {
  color: #ffc000;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 22px;
}

.class-card .description{
  position: absolute;
  background: linear-gradient(0deg, rgb(165, 214, 243) 70%, transparent);
  margin: -20px;
  margin-top: 0;
  padding: 20px;
  padding-top: 0px;
}

.class-card .desc-time{
  font-weight: bold;
  /* color: white; */
}

@media(hover: hover){
  .class-card:hover .description{
    width: 100%;
    height: 75%;
    bottom: 10px;
  }
  
  .class-card:hover img{
    filter: blur(3px);
  }
}

.class-card img {
  /* max-width: 100%; */
  width: 100%;
  max-height: 80%;
}

/* .class-card .class1{
  width: 400px;
} */

.desc-title{
  margin-top: 5px;
}

.desc-title button{
  margin-top: 0;
  margin-left: 3px;
  border-style: none;
  background: none;
  /* margin-bottom: 10px; */
  display: none;
}

.class-card .addLesson{
  border-style: none;
  color: rgb(60, 176, 243);
  background-color: rgb(255, 252, 85);
  height: 30px;
  width: 30px;
  margin-top: 20px;
  box-shadow: 1px 1px rgb(168, 161, 161);
}

.class-card .addLesson:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .page-title{
    height: fit-content;
  }

  .text-cover h1{
    font-size: 40px;
  }

  .class-container{
    max-width: 650px;
  }

  .class-row{
    display: block;
  }

  .class-card{
    height: 200px;
    display: block;
    overflow: visible;
    margin-bottom: 20px;
  }

  .class-card img{
    max-width: 30%;
    max-height: 60%;
    display: block;
  }

  .class-card h3{
    font-size: 18px;
  }

  .class-card .class-info{
    display: flex;
    /* justify-content: space-evenly; */
    width: 200px;
  }

  .class-info .age, .level{
    width: 70px;
    height: 30px;
  }

  .class-card .description{
    display: flex;
    flex-direction: column;
    padding-left: 37%;
    background: none;
    position: absolute;
    transform: translateY(-170px);
    width: 100%;
  }

  .description .desc{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 75px;
    overflow: hidden;
  }

  .desc-title button{
    margin-top: 5px;
  }
}

@media screen and (max-width: 576px) {
  .class-card h3{
    font-size: 16px;
  }
}