* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.page-title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(80%);
  height: 200px;
  background-image: url('https://i.ibb.co/rfMf706/bgpage.png');
}

.text-cover h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 4px rgba(161, 159, 159, 0.5);
  padding-top: 40px;
  padding-bottom: 10px;
}

.text-cover h3 {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 1px rgba(119, 118, 118, 0.5);
  height: 30px;
}

.class-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  justify-content: center;
}

#wrapper-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 40px;
}

.class-card {
  flex: 0 0 calc(30% - 20px);
  flex-wrap: wrap;
  /* min-width: */
  /* width: 30%; */
  height: 300px;
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  top: 0;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  border-radius: 30px;
  margin-bottom: 30px;
}

.class-card .class-info{
  display: flex;
}

.class-card .age{
  color: rgb(53, 53, 53);
  background-color: rgb(75, 243, 97);
  border-style: none;
  width: fit-content;
  padding: 6px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.class-card .level{
  color: white;
  background-color: rgb(198, 113, 247);
  border-style: none;
  width: fit-content;
  padding: 6px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.class-card h3 {
  color: #ffc000;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 22px;
}

.class-card .description{
  position: absolute;
  background: linear-gradient(0deg, #490D98 70%, transparent);
  margin: -20px;
  margin-top: 0;
  padding: 20px;
  padding-top: 0px;
}

.description .desc-title{
  color: white;
}

.description .desc{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 75px;
  overflow: hidden;
  color: white;
}

.description .card-title{
  margin-top: 15px;
}

@media(hover: hover){
  .class-card:hover .description{
    width: 100%;
    height: 75%;
    bottom: 10px;
  }
  
  .class-card:hover img{
    filter: blur(3px);
  }
}

.class-card img {
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  max-height: 75%;
}

/* .class-card .class1{
  width: 400px;
} */

.desc-title{
  margin-top: 5px;
}

.desc-title button{
  margin-top: 0;
  margin-left: 3px;
  border-style: none;
  background: none;
  /* margin-bottom: 10px; */
  display: none;
}

.class-card .addLesson{
  border-style: none;
  color: rgb(60, 176, 243);
  background-color: rgb(255, 252, 85);
  height: 30px;
  width: 30px;
  margin-top: 20px;
  box-shadow: 1px 1px rgb(168, 161, 161);
}

.class-card .addLesson:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .page-title{
    height: fit-content;
  }

  .text-cover h1{
    font-size: 20px;
  }

  .class-container{
    max-width: 100%;
    display: block;
  }

  #wrapper-class{
    display: block;
  }

  .class-card{
    display: block;
    flex: auto;
    width: 100%;
    height: 170px;
    overflow: visible;
    margin-bottom: 20px;
  }

  .class-card img{
    max-width: 30%;
    max-height: 60%;
    display: block;
    /* flex-direction: column; */
    float: left;
  }

  .card-title {
    display: none;
  }

  .class-card h3{
    font-size: 18px;
    width: fit-content;
  }

  .class-card .class-info{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    width: fit-content;
  }

  .class-info .age, .level{
    width: 70px;
    height: 30px;
    /* display: flex; */
  }

  .class-card .description{
    display: flex;
    flex-direction: column;
    padding-left: 37%;
    background: none;
    /* position: absolute;
    transform: translateY(-170px); */
    width: 100%;
  }

  .description .desc{
    color: black;
    transform: translateY(-135px);
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    height: 110px;
    overflow: hidden;
  }

  .desc-title button{
    margin-top: 5px;
  }

  .class-card h3 {
    margin-left: 30px;
  }
  .class-info {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .page-title {
    height: 100px;
  }
  .page-title h1{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 25px;
  }
  .page-title h3{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 0;
  }

  .class-container{
    padding-top: 40px;
  }

  .class-card h3{
    font-size: 16px;
  }

  .description .desc{
    margin-left: 20px;
    font-size: 14px;
    height: 95px;
  }
}